{% extends "base.html" %}

{% block title %}BITCOIN MINING CONSOLE LOG{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/console.css') }}">
{% endblock %}

{% block head %}
{{ super() }}
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="console-container">
    <div class="console-header">
        <div class="console-title">BITCOIN MINING TERMINAL v1.0</div>
        <div class="console-info">
            <span id="current-time">{{ current_time }}</span>
        </div>
    </div>

    <div class="console-wrapper">
        <div id="console-output" class="console-output">
            <!-- Console logs will be appended here by JavaScript -->
            <div class="console-line">BTC OS - MINING TERMINAL [Version 21.0000]</div>
            <div class="console-line">Copyright (C) 2025 BTC Mining Operations</div>
            <div class="console-line">-----------------------------------------</div>
            <div class="console-line">INITIALIZING SYSTEM COMPONENTS...</div>
            <div class="console-line">BLOCKCHAIN CONNECTION: <span class="success">ESTABLISHED</span></div>
            <div class="console-line">MINING POOL CONNECTION: <span class="success">ONLINE</span></div>
            <div class="console-line">SYSTEM READY. BEGINNING CONSOLE LOG...</div>
            <div class="console-line">-----------------------------------------</div>
        </div>
    </div>

    <div class="console-stats">
        <div class="stats-container">
            <div class="stat-box">
                <div class="stat-label">HASHRATE</div>
                <div class="stat-value" id="current-hashrate">0 TH/s</div>
            </div>
            <div class="stat-box">
                <div class="stat-label">BLOCK HEIGHT</div>
                <div class="stat-value" id="block-height">0</div>
            </div>
            <div class="stat-box">
                <div class="stat-label">WORKERS ONLINE</div>
                <div class="stat-value" id="workers-online">0</div>
            </div>
            <div class="stat-box">
                <div class="stat-label">BTC PRICE</div>
                <div class="stat-value" id="btc-price">$0.00</div>
            </div>
        </div>
    </div>
</div>

<!-- Script imports -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/console.js') }}"></script>
{% endblock %}